@import './theme.css';

.keypad {

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  .basic {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2rem;
  }

  .extend {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2rem;
  }

  .key {
    padding: 0.2rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    background-color: var(--ion-color-dark-shade);
    color: var(--ion-color-dark-contrast);
    border-radius: 0.4rem;
    cursor: pointer;
    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px outset rgba(var(--ion-color-dark-rgb), 0.5);
    /* border: 2px solid var(--ion-color-dark-shade); */

    .shift,
    .alpha {
      line-height: 0.8rem;
      width: 100%;
      font-size: 0.8rem;
    }

    .shift {
      color: var(--ion-color-secondary);
      text-align: left;
    }

    .alpha {
      color: var(--ion-color-tertiary);
      text-align: right;
    }

    &:hover {
      filter: brightness(1.2);
    }

    &:active {
      /* border-style: inset; */
      transform: translateY(4px);
    }

    &.active {
      background-color: var(--ion-color-dark-tint);
      color: var(--ion-color-dark-contrast)
    }

    &.disabled {
      filter: brightness(0.4);
      cursor: not-allowed;

      &:active {
        transform: none;
      }
    }

    &.primary {
      background-color: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);

      .shift {
        color: color-mix(in srgb,
            var(--ion-color-secondary) 60%,
            var(--ion-color-light) 40%);
      }

      .alpha {
        color: color-mix(in srgb,
            var(--ion-color-tertiary) 50%,
            var(--ion-color-light) 50%);
      }
    }

    &.secondary {
      background-color: var(--ion-color-secondary);
      color: var(--ion-color-secondary-contrast);
    }

    &.tertiary {
      background-color: var(--ion-color-tertiary);
      color: var(--ion-color-tertiary-contrast);
    }

    &.success {
      background-color: var(--ion-color-success);
      color: var(--ion-color-success-contrast);
    }

    &.warning {
      background-color: var(--ion-color-warning);
      color: var(--ion-color-warning-contrast);

      .shift {
        color: color-mix(in srgb,
            var(--ion-color-secondary) 60%,
            var(--ion-color-warning-contrast) 40%);
      }

      .alpha {
        color: color-mix(in srgb,
            var(--ion-color-tertiary) 60%,
            var(--ion-color-warning-contrast) 40%);
      }
    }

    &.danger {
      background-color: var(--ion-color-danger);
      color: var(--ion-color-danger-contrast);

      .shift {
        color: color-mix(in srgb,
            var(--ion-color-secondary) 60%,
            var(--ion-color-danger-contrast) 40%);
      }

      .alpha {
        color: color-mix(in srgb,
            var(--ion-color-tertiary) 60%,
            var(--ion-color-danger-contrast) 40%);
      }

    }

  }

}