@import './theme.css';


.screen {

  display: flex;
  flex-direction: column;
  overflow: hidden;

  .verbose {
    overflow: scroll;
    flex-shrink: 2;
    font-size: 0.8rem;
  }

  .input,
  .result {
    /* padding: 0.4rem; */

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: var(--ion-color-primary) 3px solid;

    form {
      width: 100%;
    }

    .tokens {
      width: 100%;
      padding: 0.4rem;
      font-size: 1.2rem;
      background-color: var(--ion-color-dark-shade);
      color: var(--ion-color-dark-contrast);
      border: none;
      border-radius: 0.4rem;
      text-align: right;
      overflow: scroll;
      scrollbar-width: thin;
    }


  }

  .message {
    width: 100%;

    .text {
      width: 100%;
      padding: 0.2rem;
      background-color: var(--ion-color-dark);
      color: var(--ion-color-dark-contrast);
      border: none;
      text-align: left;
      overflow-x: scroll;

      &.error {
        color: var(--ion-color-danger);
      }

      &.success {
        color: var(--ion-color-success);
      }
    }
  }
}